body {
    margin: unset;
    padding: unset;
}

* {
    padding: unset;
    margin: 0px 30px 0px 30px;
}


.header {
    display: flex;
    gap: 170px;
    margin-top: 10px;
}

.header .logo img {
    width: 88.96px;
    height: 89px;
    overflow: hidden;
    
}

.header nav ul {
    display: flex;
    gap: 30px;
    position: relative;
    top: 30px;
}

.header nav ul li {
    font-size: 20px;
    font-style: medium;
    font-weight: 500;
    line-height: 100%;
    margin: none;
    color: #101987;
}

ul li a {
  display: block;
  color: #101987;
  text-decoration: none;
  margin: unset;
}

ul li a:hover {
  background-color: #575757;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black !important;
  padding: 12px 16px !important;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header button {
  width: 168px;
  height: 51px;
  background-color: #0771c4;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  font-style: medium;
  line-height: 100%;
  position: relative;
  top: 15px;
  cursor: pointer;
}