.shipping {
    margin: unset;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    text-align: center;
}

.shipping h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #211d1d;
}

.shipping p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C6C5C5;
    padding-top: 5px;
}

.shipping form {
    margin-top: 20px;
}

.shipping form .column {
    display: block;
    width: 575px;
    height: 451px;
    background: #0771C4;
    border: 4px solid #0771C466;
    border-radius: 20px;
    padding-top: 45px;
}

.shipping form .column .field input {
    width: 480px;
    height: 73px;
    border-radius: 10px;
    padding-left: 20px;
    outline: unset;
    border: none;
    font-weight: 400;
    font-size: 20px;
}

.shipping form .column .field input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.shipping form .column .field select {
    width: 480px;
    height: 73px;
    border-radius: 10px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    outline: unset;
    overflow: hidden;
}

.shipping form .column .field select option {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.shipping form button {
    width: 307px;
    height: 51px;
    border: unset;
    border-radius: 10px;
    background-color: #0771C4;
    margin-top: 15px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.shipping form span {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 18%;
    text-align: center;
    margin-bottom: 15px;
}



.shipping3 {
  margin: 70px 0px 0px 30px;
  justify-content: center;
  justify-self: start;
}

.shipping3 .herosection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.shipping3 .herosection .text h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
    color: #211d1d;
    margin-bottom: 10px;
}

.shipping3 .herosection .text span {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: unset;
}

.shipping3 .herosection .text p {
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    color: #211d1d;
    width: 482px;
    margin-top: 5px;
}

.shipping3 .herosection .image {
    display: flex;
    overflow: hidden;
}

.shipping3 .herosection .image img {
    width: 512px;
    height: 348px;
    object-fit: cover;
}

.shipping3 .herosection .image .png2-hero {
    margin-left: -80px;
}

.shipping3 form {
    margin-top: 80px;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.shipping3 form .column {
    display: block;
    width: 782px;
    height: 580px;
    background: #0771C4;
    border: 4px solid #0771C466;
    border-radius: 20px;
    padding-top: 40px;
}

.shipping3 form .column .field input {
    width: 696px;
    height: 73px;
    border-radius: 10px;
    outline: unset;
    border: none;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
    overflow: hidden;
}

.shipping3 form .column .field input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.shipping3 form .column .field select {
    width: 696px;
    height: 73px;
    border-radius: 10px;
    padding-left: 20px;
    font-weight: 400;
    font-size: 20px;
    outline: unset;
    overflow: hidden;
    margin: unset;
}

.shipping3 form .column .field select option {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.shipping3 form button {
    width: 307px;
    height: 51px;
    border: unset;
    border-radius: 10px;
    background-color: #0771C4;
    margin: 15px 0px 0px 70px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
    text-align: center;
    justify-self: center;
    cursor: pointer;
}

.shipping3 form span {
    font-weight: 400;
    font-size: 10px;
    line-height: 50%;
    letter-spacing: 18%;
    text-align: left;
    margin: 15px auto 0px 0px;
    color: #838383;
    position: relative;
    left: 70px;
}

.shipping-boxes {
    margin: 80px 0px 0px 0px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    display: flex;
    gap: 20px;
}

.shipping-boxes .box {
    width: 237px;
    height: 287px;
    background-color: #dfeef9;
    border: 4px solid #89bce4;
    border-radius: 20px;
    text-align: center;
    margin: unset;
}

.shipping-boxes .box span {
    font-weight: 700;
    font-style: Italic;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin: unset;
    color: #1019878C;
    position: relative;
    top: 20px;
}

.shipping-boxes .box p {
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    padding-top: 30px;
}