.started1 {
    margin: 0px 0px 30px 0px;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.started1 h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #211d1d;
}

.started1 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C6C5C5;

}

.started1 .progress-bar {
    width: 60%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0px 15px 0px;
    overflow: hidden;
    justify-content: center;
    justify-self: center;
}

.started1 .progress-bar .progress {
    width: 50%;
    height: 100%;
    background-color: #0771C4;
    border-radius: 10px;
    transition: width 0.3s ease;
    position: relative;
    left: -24px;
} 

.started1 form div {
    margin-top: 30px;
}

.started1 form div p {
    width: 913px;
    height: 129px;
    border-radius: 20px;
    background-color: #e6f2fa;
    font-weight: 600;
    font-size: 35px;
    line-height: 80%;
    letter-spacing: 0%;
    text-align: center;
    border: 4px solid  #0771C466;
    margin: 0px 0px 20px 0px;
    color: #211d1d;
    padding-top: 20px;
    cursor: pointer;
}

.started1 form p span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #9E9E9E;
    margin-top: unset;
}

.started1 form button {
    width: 307px;
    height: 51px;
    border-radius: 10px;
    background-color: #0771C4;
    color: #fff;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: unset;
    cursor: pointer;
}

.started1 form span {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 18%;
    text-align: center;
}


.started2 {
    margin: 0px 0px 30px 0px;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.started2 h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #211d1d;
}

.started2 p {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #C6C5C5;

}

.started2 .progress-bar {
    width: 60%;
    height: 10px;
    background-color: #ddd;
    border-radius: 10px;
    margin: 20px 0px 15px 0px;
    overflow: hidden;
    justify-content: center;
    justify-self: center;
}

.started2 .progress-bar .progress {
    width: 60%;
    height: 100%;
    background-color: #0771C4;
    border-radius: 10px;
    transition: width 0.3s ease;
    position: relative;
    left: 300px;
} 

.started2 form div {
    margin-top: 30px;
}

.started2 form div p {
    width: 913px;
    height: 129px;
    border-radius: 20px;
    background-color: #e6f2fa;
    font-weight: 600;
    font-size: 35px;
    line-height: 80%;
    letter-spacing: 0%;
    text-align: center;
    border: 4px solid  #0771C466;
    margin: 0px 0px 20px 0px;
    color: #211d1d;
    padding-top: 45px;
    cursor: pointer;
}

.started2 form button {
    width: 307px;
    height: 51px;
    border-radius: 10px;
    background-color: #0771C4;
    color: #fff;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border: unset;
    cursor: pointer;
}

.started2 form span {
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 18%;
    text-align: center;
}